<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="kotoneko.css" asp-append-version="true" />
    <link rel="stylesheet" href="KotoNeko.Web.styles.css" asp-append-version="true"/>
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>KotoNeko</title>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="kotoneko.js" asp-append-version="true"></script>
</body>

</html>
